{% extends 'base.html' %} {% block content %} {% load static %}

{% comment %} wellcome page {% endcomment %}
    <!-- filter section -->
    {% for category in all_categories %}
    <input type="radio" class="btn-check" name="options-base" id="{{category.categoryName}}" autocomplete="off">
    <label class="btn btn-secondary" for="{{category.categoryName}}">
        {% comment %} <a class ="text-white text-decoration-none" href ="{% url 'brand_wise_car' brand.slug %}">{{category.categoryName}}</a> {% endcomment %}
        <a class ="text-white text-decoration-none" href ="">{{category.categoryName}}</a>
    </label>
    {% endfor %}
    <h3>{{all_products|length}} book's found</h3>
</div>
<div class="home-section d-flex justify-content-center">
  <!-- car section -->
  <div class="d-flex flex-wrap justify-content-center w-75 px-3 m-auto">
    {% if all_products|length == 0 %}
    <img class="w-50" src="{% static 'no_data.jpg' %}" alt="No data found" />
    {% endif %} {% for product in all_products %}
    <div class="col-sm-4 p-2 mb-3 mb-sm-0">
      <div class="card">
        <img
          style="width: 200px"
          src="{{product.picture.url}}"
          class="card-img-top m-auto p-2"
          alt="card img"
        />
        <div class="card-body">
          <h1>{{product.id}}</h1>
          {% comment %} <h5 class="card-title"><a href="{% url "car_detail" cars.id %}">{{cars.name}}</a></h5> {% endcomment %}
          <h5 class="card-title"><a href="">{{product.product_name}}</a></h5>
          <h6 class="fw-light">Brand: {{product.category}}</h6>
          <p class="card-text">{{product.description | truncatewords:10}}</p>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>
{% endblock %}
